* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 500px;
    
    background-color: var(--accent1-color);
    color: var(--text-light);
}

h1 {
    margin: .5rem;
}

form {
   
    background-color: var(--muted-bg);
    color: var(--text-dark);
}

input, textarea, select, button {
    padding: .75rem;
    width: 350px;
}

button {
    background-color: var(--accent1-color);
    color: var(--text-light);
    margin: 0 auto;
    display: block;
    border-radius: .5rem;
    border: 1px solid rgba(0,0,0,0.1);
}

code {
    display: block;
    background-color: var(--text-dark);
    color: var(--text-light);

}

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
}

.quiz-item {
    border: none;
}
