.root {
    /* local theme variables */
}

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 1rem;
}

.flex-container {
    border: 3px dashed var(--accent1-color);
    background-color: var(--accent2-color);
    display: flex;
    flex-wrap: wrap;
}

.flex-item {
    width: 250px;
    margin: 1rem;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 0.5rem;
    background-color: var(--muted-bg);
    color: var(--text-dark);
}

.item1 {
    min-height: 100px;
}

.item2 {
    min-height: 200px;
}

.item3 {
    min-height: 300px;
}