* {
    margin: 0;
    padding: 0;
}

:root {
    --demo-beige: beige;
    --demo-lightblue: lightblue;
    --demo-green: green;
    --demo-light-yellow: lightgoldenrodyellow;
}

body {
    font-size: 20px;
    margin: 1rem;
}

p,
div {
    background-color: var(--demo-beige);
    margin: 1rem;
    padding: 1rem;
}

span {
    color: var(--accent1-color);
    background-color: var(--demo-lightblue);
}

code {
    margin: 0;
    padding: 0;
    color: var(--primary-color);
    font-size: 1.2rem;
}

.note {
    font-style: italic;
    background-color: var(--demo-light-yellow);
    border-radius: 1rem;
    border: 1px solid rgba(0,0,0,0.1);
    margin: 1rem;
    padding: .5rem;
}

.question {
    background-color: var(--accent1-color);
    color: var(--text-light);
}